<%= stylesheet_link_tag 'helpsk	' %>

<h1>The PMOG Toolbar</h1>
<h5>Commencing and Extending Your PMOG Play</h5> 

<br />
<div class="help">

<dl>
<dt>Installation</dt>
	<dd>Lacking a PMOG extension?  Check out our <a href="/help/install">Installation Help Page</a> to download and install a fresh copy of PMOG.</dd>

<dt>Updates</dt>
	<dd><div id="extension_version"></div>
<%= render :partial => 'shared/extension_detection' %>  Why bother upgrading?  What is new with PMOG?  Check the <a href="/about/versions">PMOG Version History Page</a> for a release history of the PMOG toolbar.</dd>

<a name="keyboardshortcuts"></a><dt>Keyboard Shortcuts</dt>

	<dd>Lay Mines, close Portals, send messages in a jiff!  The PMOG toolbar supports the pressing of keys on your keyboard for common PMOG commands.  For example, control+alt+H will hide or show your toolbar. See our <a href="/help/keycommands">Key Commands Page</a> for more details.</dd>

<a name="hidingpmog"></a><dt>Hiding PMOG</dt>

	<dd>You can make PMOG go away, be hidden, if you click the small P in the lower right corner of your browser window, in your status bar:</dd>
	
	<center><img src="/images/help/toolbar-hide-corner.png" alt="hiding the PMOG toolbar" width="333" height="129"></center>
	
	<dd>Clicking that button shown above will toggle your PMOG toolbar hidden or visible.  That button appears in the Firefox "status bar" which can be turned on and off.  If you've hidden PMOG and you can't get it back, try the hide/show keyboard shortcut: control+alt+H</dd>
	
<a name="contentqualitythreshold"></a><dt>Cutting down on PMOG Events</dt>

	<dd>Are you seeing too many Portals and Missions everywhere?  You can turn the number of Missions and Portals you see through your PMOG preferences.</dd>
	
	<dd>Open your preferences from the P menu on the left side of your PMOG toolbar.  There you can control a number of things about PMOG, including the "Content Quality Threshold" - here's a picture of the toolbar on the right, and the preferences window on the left:</dd>
	
	<center><img src="/images/help/contentqualitypreferences.jpg" alt="Content Quality Preferences settings" border="0" width="450" height="262" /></center>
	
	<dd>The higher that number is, between 1 and 5, the fewer PMOG Portals and Missions you will see.  We recommend 4 as a good way to see the best of the best.  5 is just about nothing!  And 1 is everything, low and high rated.</dd>

<a name="changingtheskin"></a><dt>Changing the Skin</dt>

	<dd>For some players, the default wood skin ("classic") is hard to read, or doesn't render right in their browser.  For those people, and players who like less stimulation, we have the "plain" skin.  You can select it from editing your settings on your player profile, or by altering your preferences in your browser.  Change your skin from classic to plain, and you can have a PMOG toolbar that looks like this:</dd>
	
	<dd><a href="http://skitch.com/justinreach/8jkb/a-version-history-of-pmog"><img src="http://img.skitch.com/20080306-fyim941t3rhwngs356mxy7rdet.preview.jpg" alt="A Version History of PMOG" /></a></dd>
	
	<dd>To change your skin preferences, go to the P icon on the left side of the toolbar.  Choose "preferences" from that menu that pops up, and select the "Extension Skin" that you want: plain or classic.  If you are having trouble reading PMOG bits in your toolbar, plain is probably the way to go.</dd>

<dt>Login Issues</dt>

	<dd>Are you unable to login to the extension?  Check our <a href="/help/login">Login Help Page</a>.</dd>

<dt>Incompatibilities</dt>
	<dd>Some things make PMOG not work: Google Gears, for example.  AdBlockPlus seems to prevent our events from showing up.  We're working to fix PMOG to play with everything!  Keep an eye on <a href="/about/versions">our version history</a> to see if we fix your problem.</dd>
	
<dt>NoScript</dt>
	<dd>PMOG can be made to work with the Firefox extension "NoScript" - here are some <a href="http://pmog.com/forums/gameplay/topics/using-noscript-with-pmog">instructions on the Forums</a> and a <a href="http://pmog.com/missions/using_noscript_with_pmog">helpful Mission</a>, from our player <a href="/users/barril">barril</a>.</dd>
	
<dt>Checking for Updates</dt>

	<dd>Here is a screencast that explains how to check for updates to Firefox extensions:</dd>
	<dd><object 
	     type="application/x-shockwave-flash" 
	     width="400" 
	     height="225" 
	     data="http://www.flickr.com/apps/video/stewart.swf?v=49235" 
	     classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"> 
	       <param name="flashvars" value="intl_lang=en-us&amp;photo_secret=8df3265f54&amp;photo_id=2406710646"/>
	       <param name="movie" value="http://www.flickr.com/apps/video/stewart.swf?v=49235"/>
	       <param name="bgcolor" value="#000000"/>
	       <param name="allowFullScreen" value="true"/>
	       <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/video/stewart.swf?v=49235" bgcolor="#000000" allowfullscreen="true" flashvars="intl_lang=en-us&amp;photo_secret=8df3265f54&amp;photo_id=2406710646" height="225" width="400"/></object></dd>
	
<dt>Use</dt>
	<dd>So now you've freshly installed PMOG, a game you play in your web browser!  At the bottom of this window, you'll notice the PMOG toolbar:</dd>

		<center><a href="/help/install"><img src="/images/help/toolbar-wood.png" alt="Toolbar" border="0" width="707" height="60"></a></center>
		
	<br />
		
	<dd>The toolbar tells you how you're progressing, as well as what tools you have to play on the web.</dd>

<a href="/shoppe"><img src="/images/shoppe/shoppe.png" align="right" width="100" height="116" class="img_no_border" /></a>
		
	<dd><img src="/images/shared/icons/datapoint-16.png" alt="datapoints icon" border="0" width="16" height="16" /> are your <a href="/guide/rules/datapoints"><b>datapoints</b></a>.  You earn them just by surfing.  Any sites, all day long, you'll be banking datapoints.  You can spend your datapoints in the <a href="/shoppe">PMOG Shoppe</a>.  That's a picture of the Shoppe on the right; you'll find a link to it in the menu up above.</dd>

	<dd><!--<img src="/images/shared/elements/classpoints-icon.png" alt="classpoints icon" border="0" width="16" height="16" /> are your <b>skill points</b>.  You earn those points for using tools.  -->You start off with a few tools; the rest you'll have to buy with your datapoints in the Shoppe.  Here's a description of the different tools you can use now:</dd>

<dt>Tools</dt>
	<dd>These items can be used by you to either defend the web or offend other PMOG players!</dd>

	<dd><a href="/guide/tools/crates"><img src="/images/ext/crate.png" title="Crates" width="16" height="16" class="img_no_border" /></a> <a href="/guide/tools/crates"><b>Crates</b></a> are for burying gifts across the webs.
		<% if logged_in? %>
	 		<b><%= current_user.inventory.crates %> crates have you!</b>
		<% end %>
	</dd>

	<dd><a href="/guide/tools/mines"><img src="/images/ext/mine.png" title="Mines" width="16" height="16" class="img_no_border" /></a> <a href="/guide/tools/mines"><b>Mines</b></a> blow up and take datapoints from the next player to land on that URL.
		<% if logged_in? %>
			<b>You can lay <%= current_user.inventory.mines %>!</b>
		<% end %>
	</dd>
	
	<dd><a href="/guide/tools/armor"><img src="/images/ext/armor.png" title="Armor" width="16" height="16" class="img_no_border" /></a> <a href="/guide/tools/armor"><b>Armor</b></a> protects you from mines online.
		<% if logged_in? %>
			<b>So far, you have <%= current_user.inventory.armor %> pieces of armor.</b>
		<% end %>
	</dd>

	<dd><a href="/guide/tools/portals"><img src="/images/ext/portal.png" title="Portals" width="16" height="16" class="img_no_border" /></a> <a href="/guide/tools/portals"><b>Portals</b></a> send you from one site to another.
		<% if logged_in? %>
			<b>You can plant <%= current_user.inventory.portals %> portals.</b>
		<% end %>
	</dd>
	
	<dd><a href="/guide/tools/st_nicks"><img src="/images/ext/st_nick.png" title="St. Nicks" width="16" height="16" class="img_no_border" /></a> <a href="/guide/tools/st_nicks"><b>St. Nicks</b></a> police players in PMOG: attach one to someone who mines you.
		<% if logged_in? %>
			<b>You have <%= current_user.inventory.st_nicks %> to play with.</b>
		<% end %>
	</dd>
	
	<dd><a href="/guide/tools/lightposts"><img src="/images/shared/tools/icon/lightpost-16.png" title="Lightposts" width="16" height="16" class="img_no_border" /></a> <a href="/guide/tools/lightposts"><b>Lightposts</b></a> help people find their way online.
		<% if logged_in? %>
			<b>You have <%= current_user.inventory.lightposts %> lightposts.</b>
		<% end %>
	</dd>
<dt>Playing Across the Web</dt>

	<dd>So, now, how do you play PMOG?  Ignore everything here, continue on your web browsing.  Once in a while, glance at your score.  Maybe click on a tool.  Or wait for a tool to click on you!</dd>
	
	<dd>If you see something like this pop up in your browser:</dd>
	
	<center><img src="/images/help/event-crates.png" alt="event: crates have landed!" border="0" /></center>
	
	<br />
	
	<dd>That's a <b>PMOG message</b>, you have another PMOG player to thank for whatever tool was just triggered.</dd>
	
	<dd>You can play along with them by clicking on something in your toolbar, or visiting <b>http://pmog.com</b> once in a while.</dd>
	
<dt>More Help</dt>

<dd>Take your time and experiment with the PMOG toolbar... learn its secrets!  You can't break the internet by poking at buttons on PMOG.  Maybe try <% if logged_in? %>
the <a href="/learn">PMOG tutorial</a>, or, see <% end %><a href="/help">our help page</a> if you're stuck!</dd>
</dl>
</div>