<% content_for :breadcrumbs do %>
<div id="breadcrumbs">
	<%= render :partial => "shared/breadcrumbs/rules" %>
	<div class="cell child"><span class="l"></span><span class="c">Missions</span><span class="r"></span></div>
</div>
<% end %>
<div id="copy">

	<div class="column width960">

		<div class="module width960">
			<div class="imageTop">
				<div class="imageTopImage" style="background-image:url(/images/shared/dressing/missions-rules.png);width:315px;height:300px;" title="Let's Play Nice"></div></div>

				<h1>Missions</h1>
				<h5>Connecting Ideas.  Sharing Trails.</h5>
				<br/>

				<p>Players build Missions to share pathways through the Internet. URLs, images, videos, music - they all tell a story if you tie them together.</p>
				
				<p>Missions on The Nethernet are a series of connected <a href="/guide/tools/lightposts">Lightposts</a> (some even have <a href="/guide/upgrades/puzzle_posts">Puzzles</a> attached).  You can start collecting ideas for a Mission by laying <a href="/guide/tools/lightposts">Lightposts <img src="/images/shared/icons/lightpost-16.png" alt="lightpost icon" border="0" width="16" height="16" valign="center" /></a> from your toolbar.  Lightposts help you to leave your trail across the internet, to share with other players.</p>
				
				<p>If you know what Mission you want to make, you can visit the <a href="/missions/new/">Mission Generator</a> to develop your journey.  With a few URLs, some thoughts, and a few minutes, you can pull together a tour of the web, to be packed with Puzzles, or EverCrates, or Abundant Mines.  Missions on The Nethernet tend to attract other players.  When players take your Missions, you earn <a href="classpoints">classpoints <%= cp_icon %></a> and datapoints</a>, even while you're offline.  There's a <a href="starting_pathmaker">Starting Pathmaker Guide</a> if you're curious to get started.  The best missions are made by players who have a passion about the subject they're making a mission about!</p>
				
				<p>Taking Missions is  a great way to earn <a href="datapoints">datapoints <%= dp_icon %></a>!  Rating and commenting on Missions is a fine source of <a href="pings">pings <%= ping_icon %></a> as well. If you like making or taking Missions on The Nethernet, you're probably at least a little bit <a href="/guide/classes/pathmakers">Pathmaker</a> :-)</p>
				
				<p>The <a href="/missions">Missions front page</a> has the latest Missions up front, you can drill down or search to find other specific Missions.  Missions pop up in the <a href="/events">Events Stream</a>.  And Missions will pop up as you browse!  Add a Mission to your Queue by pressing the Queue button.  Then you can press the Explore <img src="/images/shared/icons/venture-16.png" alt="explore icon" border="0" width="16" height="16" valign="center" /> button in your toolbar and you'll be taken on one of your Queued Missions.</p>
				
				<p>Have fun online, and share what you find!</p>

				<!--
				Missions are a way for users to share information about the internet with each other.  Players who choose to solely focus on Mission making are known as <a href="/guide/classes/pathmakers">Pathmakers</a>. The player making the mission, first chooses a series of websites to include, then sequences the websites in the order they want them to be viewed.  Then, the player writes a description of each website: What do they want other players to get from their mission? Or, in Nethernet terms, what do they want their Lighpost to illuminate about that site?</p>

				<p>Finally the Pathmaker can test their Mission and <a href="/missions">publish</a> it for other players to take.  The Pathmaker earns classpoints for publishing the Mission, and is rewarded for each player who takes their Mission with both Datapoints and Pings.  Mission making can be a rewarding task!  Other players also provide feedback for Missions by leaving comments after having completed them.</p>

-->

			</div>

		</div>


	</div>

	<div class="column width960">

		<%= render :partial => "shared/guide/rules" %>

		<%= render :partial => "shared/guide/guide_module" %>

	</div>

</div>

