<%= error_messages_for :branch %>

<div style='border: 1px solid red; padding: 10px; margin: 10px;'>
	<% form_for :branch, :url => mission_branches_path(params[:mission_id]) do |f| %>
	  <%= f.hidden_field :mission_id, :value => params[:mission_id] %>
	  <%= f.hidden_field :parent_id, :value => params[:parent_id] unless params[:parent_id].blank? %>
	  <p>
			Url
			<br/>
			<%= f.text_field :location_id, :size => 50 %>
	    <script type="text/javascript">
	      $( 'branch_location_id' ).focus();
	    </script>
			<br/>
			Description
			<br/>
			<%= f.text_area :description, :rows => 5, :cols => 50 %>
			<br/>
			<a href='#' onclick="jQuery('#new_portal').show(); $( 'branch_portal_destination' ).focus();">Deploy a portal here?</a>
		
			<% unless @npcs.empty? %>
				<a href='#' onclick="jQuery('#new_npc').show(); $( 'npc_id' ).focus();">Deploy one of your NPCs here?</a>
			<% end %>
		
			<% unless @bird_bots.empty? %>
				<a href='#' onclick="jQuery('#new_bird_bot').show(); $( 'bird_bot_id' ).focus();">Deploy one of your Bird Bots here?</a>
			<% end %>

			<% unless @missions.empty? %>
				<a href='#' onclick="jQuery('#link_to_mission').show(); $( 'mission_id' ).focus();">Link this branch to another Mission?</a>
			<% end %>

			<br/>

			<span id='new_portal' style='display:none;'>
				Portal destination
				<br/>
				<%= f.text_field :portal_destination, :size => 50 %>
				<a href='#' onclick="jQuery('#new_portal').hide();">Close</a>
				<br/>
			</span>
			<span id='new_npc' style='display:none;'>
				<%= collection_select( :npc, :id, @npcs, :id, :name, options = {:include_blank => true} ) unless @npcs.nil? %>
				<a href='#' onclick="jQuery('#new_npc').hide();">Close</a>
				<br/>
			</span>
			<span id='new_bird_bot' style='display:none;'>
				<%= collection_select( :bird_bot, :id, @bird_bots, :id, :name, options = {:include_blank => true} ) unless @bird_bots.nil? %>
				<a href='#' onclick="jQuery('#new_bird_bot').hide();">Close</a>
				<br/>
			</span>

			<span id='link_to_mission' style='display:none;'>
				<%= collection_select( :mission, :id, @missions, :id, :name, options = {:include_blank => true} ) unless @missions.empty? %>
				<a href='#' onclick="jQuery('#link_to_mission').hide();">Close</a>
				<br/>
			</span>

	    <%= submit_tag "Create" %>
	  </p>
	<% end %>
</div>