<div id="copy">
  <div class="column width960">
    <div class="column width700">
      <div class="module width700">
        <h1>Forgot Your Password?</h1>
        <h5>That's ok, we'll help you find it</h5><br /><br /><br />

        <div class="imageTop">
          <div class="imageTopImage" style="background-image:url(/images/shared/dressing/shoatpants-200.png);width:200px;height:357px;" title="Where's my "></div>
        </div>

        <span id="reset_password_content"></span>

        <% unless @user.nil? %>

        <% if not @user.user_secret.nil? or @failed_attempt %>

        <%= error_messages_for :user %>

        <% form_for :user, :url => { :controller => "sessions", :action => :answer_question_reset } do %>
        <%= hidden_field_tag :user, @user.login %>
        <p class="forgotten_password_text"><%= @user.user_secret.secret_question.question %>:<br />
          <%= text_field_tag 'answer', {}, :class => 'input_forgotten_password', :style => 'width:200px' %>
        </p>
        <% if @user.email.nil? or @user.email.empty? %>
        <p class="forgotten_password_text">Email address:<br />
          <%= text_field_tag 'email', {}, :class => 'input_forgotten_password', :style => 'width:200px' %>
        </p>
        <% end %>
        <p>
          <input value="Reset my password!" name="" type="submit" id="input" class="input_forgotten_password">
        </p>

        <script type="text/javascript">
        $( 'answer' ).focus();
        </script>
        <% end %>

        <% else %>
        <% form_for :user, :url => { :controller => "sessions", :action => :password_reset } do %>
          <%= hidden_field_tag :user, @user.login %>
          <p align="center" class="forgotten_password_text">Email:
          <%= text_field_tag 'email', {}, :class => 'input_forgotten_password', :style => 'width:200px' %> <input value="Send Me a New Password!" name="" type="submit" id="input" class="input_forgotten_password"></p>

          <script type="text/javascript">
            $( 'email' ).focus();
          </script>

        <% end %>
        <% end %>

        <% end %>
      </div>
    </div>
    <div class="column width240">
      <%= render :partial => "/shared/support_module" %>
    </div>
  </div>
</div>

<!-- /MAIN CONTENT -->
