<h1>Editing bird_bot</h1>

<%= error_messages_for :bird_bot %>

<% form_for(:bird_bot, :url => bird_bot_path(@bird_bot), :html => { :method => :put }) do |f| %>
	<p>
		Name:<br/>
		<%= f.text_field :name %>
	</p>

	<script type="text/javascript">
	  $( 'bird_bot_name' ).focus();
	</script>

	<p>
		Description:<br/>
		<%= f.text_area :description %>
	</p>
	<p>
		First words:<br/>
		<%= f.text_field :first_words %>
	</p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'New image', "/bird_bots/#{@bird_bot.url_name}/assets/new" %> | 
<%= link_to 'Show', bird_bot_path(@bird_bot) %> |
<%= link_to 'Back', bird_bots_path %>