				<div class="column width700">

<h2>Abilities ::

<span>Order vs. Chaos - implements of creation and destruction</span>
</h2>				

<% abilities=Ability.cached_multi %>
			
					<div class="module width700">
					
						<div class="width325">
<h3>Order abilities</h3>

<% abilities.select{|ability| [:overclock, :giftcard, :dodge, :disarm, :vengeance].include? ability.url_name.to_sym}.each do |ability| %>


<%= link_to "<img src=\"/images/shared/icons/#{ability.url_name.singularize}-48.png\" title=\"#{ability.name.titleize}\" 
                              width=\"50\" 
                              height=\"50\"
                              border=\"0\"
                              alt=\"#{ability.name.titleize}\" 
                              class=\"thumbNoBorder\"
                              hspace=\"10\"
                              vspace=\"10\"
                              align=\"center\">", "/guide/abilities/#{ability.url_name}" %>
<h4><a
href="/guide/abilities/<%= ability.url_name %>"><%= ability.name.titleize %></a></h4>
<p><%= ability.short_description %>. <a
href="/guide/abilities/<%= ability.url_name %>">Learn More</a></p>

<% end %>
						</div>
						<div class="width20"></div>
						
						<div class="width325">
<h3>Chaos abilities</h3>

<% abilities.select{|ability| [:impede, :create_skeleton_key].include? ability.url_name.to_sym}.each do |ability| %>

<%= link_to "<img src=\"/images/shared/icons/#{ability.url_name.singularize}-48.png\" title=\"#{ability.name.titleize}\" 
                              width=\"50\" 
                              height=\"50\"
                              border=\"0\"
                              alt=\"#{ability.name.titleize}\" 
                              class=\"thumbNoBorder\"
                              hspace=\"10\"
                              vspace=\"10\"
                              align=\"center\">", "/guide/abilities/#{ability.url_name}" %>
<h4><a
href="/guide/abilities/<%= ability.url_name %>"><%= ability.name.titleize %></a></h4>
<p><%= ability.short_description %>. <a
href="/guide/abilities/<%= ability.url_name %>">Learn More</a></p>

<% end %>
						</div>
						
					
					
					</div>
				
				</div>
