<tr style="display:none;" id="<%= model.id %>">
  <td class="icon event_list">
    <img class="icon32 <%= model.context %>" src="/images/shared/clear.png" width="32" height="32" alt="<%= model.context %>" title="<%= model.context %>.titleize" />
  </td>
  <td class="copy">
    <%= show_event(model) %>
  </td>
</tr>
