<p align='right'>
	<%= will_paginate @mines %>
	<%= submit_tag 'Delete Checked', :confirm => 'Are you sure you want to delete all the checked items?' %>
</p>

<p class='user_table_list'>  
  <table border='1' cellpadding='5'>
		<tr>
			<td bgcolor="white">User</td>
			<%= '<td bgcolor="white">See all by</td>' if @searcheduser.nil? %>
			<td bgcolor="white">Url</td>
			<td bgcolor="white">Created</td>
			<td bgcolor="white">&nbsp;</td>
			<td bgcolor="white"><%= check_box_tag 'checkall', 1, false, :onclick => 'checkedAll();' %> </td>
		</tr>
		<% @mines.each do |mine| %>
			<tr>
				<td bgcolor="white"><%= avatar_link_to_user :user => mine.user, :size => 'small' %></td>
				<% if @searcheduser.nil? %>
				  <td bgcolor="white"><%= link_to mine.user.login, :action => 'search', :q => mine.user.login, :criteria => 'user' %>
				<% end -%>
				<td bgcolor="white"><a href='<%= mine.location.url %>' target='_new'><%= mine.location.url %></a></td>
				<td bgcolor="white"><%= mine.created_at %></td>
				<td bgcolor="white"><%= link_to '<img src="/images/shared/icons/close_window-16.png" alt="Destroy" title="Destroy" width="16" height="16" class="icon16" />', mine_path(mine), :confirm => 'Are you sure?', :method => :delete %></td>
				<td bgcolor="white"><%= check_box_tag 'delete_these[]', mine.id %> </td>
			</tr>
		<% end %>
	</table>
</p>

<br/>

<p align='right'>
	<%= will_paginate @mines %>
</p>

<br/>
