<a href="/guide/rules/recruit"><img src="/images/shared/icons/invite-32.png" align="right" class="icon32" /></a>
	<h2>Recruit Allies</h2>

	<p>Post this link below on your weblog, online forums, Twitter - wherever you like.  Players who sign up from this link will earn you <%= GameSetting.value('Invite DP').to_i %> <%= dp_icon %>, <%= GameSetting.value('Invite Pings').to_i %> <%= ping_icon %> and progress towards a badge.</p>

	<p><tt>http://thenethernet.com/join/<%= current_user.login %></tt></p>
		
	  <div class="bottomNav">
			<a href="/guide/rules/recruit">Learn More</a>
	  </div>
