<p align='right'>
	<%= will_paginate @watchdogs %>
	<%= submit_tag 'Delete Checked', :confirm => 'Are you sure you want to delete all the checked items?' %>
</p>

<p class='user_table_list'>  
  <table border='1' cellpadding='5'>
		<tr>
			<td bgcolor="white">User</td>
			<%= '<td bgcolor="white" nowrap>See all by</td>' if @searcheduser.nil? %>
			<td bgcolor="white" width="600">Location</td>
			<td bgcolor="white">Created</td>
			<td bgcolor="white">&nbsp;</td>
			<td bgcolor="white"><%= check_box_tag 'checkall', 1, false, :onclick => 'checkedAll();' %></td>
		</tr>
		<% @watchdogs.each do |watchdog| %>
			<tr>
				<td bgcolor="white"><%= avatar_link_to_user :user => watchdog.user, :size => 'small' %></td>
				<% if @searcheduser.nil? %>
				  <td bgcolor="white"><%= link_to watchdog.user.login, :action => 'search', :q => watchdog.user.login, :criteria => 'user' %></td>
				<% end %>
				<td bgcolor="white"><a href='<%= watchdog.location.url %>' target='_new'  style='font-size: 9pt;'><%= watchdog.location.url %></a></td>
				<td bgcolor="white"><div  style='font-size: 9pt;'><%= watchdog.created_at %></div></td>
				<td bgcolor="white"><div  style='font-size: 9pt;'><%= link_to '<img src="/images/shared/icons/close_window-16.png" alt="Destroy" title="Destroy" width="16" height="16" class="icon16" />', watchdog_path(watchdog), :confirm => 'Are you sure?', :method => :delete %></div></td>
				<td bgcolor="white"><%= check_box_tag 'delete_these[]', watchdog.id %></td>
			</tr>
		<% end %>
	</table>
</p>

<br/>

<p align='right'>
	<%= will_paginate @watchdogs %>
</p>

<br/>
